nav > ul{
    display: flex;
    list-style: none;

}
li{
    list-style:none;
    margin: 5px;
    padding: 0 5px;
}
li :hover{
    background-color: gray;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li .dropdown{
    display: none;
    position: absolute;
    background-color:lightblue;
    padding: 0;
}
nav li:hover > .dropdown{
    display: block;
}